/*#64dd17;/**/
body {
  line-height: 1.5; }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating),
a {
  color: #1faa00; }
  .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover,
  a:hover {
    color: #64dd17; }

.container {
  max-width: 1450px;
  width: 83.33333%; }

header .full-screen-slider-block .slick-prev:before, header .full-screen-slider-block .slick-next:before {
  content: "";
  width: 30px;
  height: 75px;
  display: block; }

header {
  position: relative; }
  header .sp-toolbar {
    display: none; }
  header img {
    width: 100%; }
  header .full-screen-slider-block .slick-slider {
    overflow: hidden; }
  header .full-screen-slider-block .header-slider li {
    position: relative;
    background-color: #000; }
    header .full-screen-slider-block .header-slider li img {
      opacity: 0.7; }
    header .full-screen-slider-block .header-slider li .description {
      display: none; }
  header .full-screen-slider-block .slide-caption {
    min-height: 200px;
    z-index: 2;
    bottom: 10%;
    position: absolute;
    width: 50%;
    color: #fff;
    text-shadow: 1px 1px 50px #000000; }
    header .full-screen-slider-block .slide-caption .title {
      font-size: 4rem;
      text-transform: capitalize;
      margin-bottom: 2rem; }
    header .full-screen-slider-block .slide-caption .desc {
      font-size: 1.2rem;
      line-height: 1.4; }
  header .full-screen-slider-block .slick-dotted.slick-slider {
    margin-bottom: 0; }
  header .full-screen-slider-block .slick-prev, header .full-screen-slider-block .slick-next {
    width: 30px;
    height: 75px;
    z-index: 1; }
  header .full-screen-slider-block .slick-prev {
    left: 10%; }
    header .full-screen-slider-block .slick-prev:before {
      background: transparent url("/images/prev.png") left/cover no-repeat; }
  header .full-screen-slider-block .slick-next {
    right: 10%; }
    header .full-screen-slider-block .slick-next:before {
      background: transparent url("/images/next.png") right/cover no-repeat; }
  header .full-screen-slider-block .slick-dots {
    position: absolute;
    bottom: 12%;
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    right: 10%;
    opacity: 0.75; }
    header .full-screen-slider-block .slick-dots li {
      border-radius: 100%;
      background-color: #fff; }

nav ul li a {
  text-transform: uppercase; }
  nav ul li a:hover {
    color: #fff; }

aside {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4; }
  aside h1 {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    width: 190px;
    line-height: 0; }
    aside h1 img {
      width: 100%; }

.icon-block {
  padding: 0 1rem; }
  .icon-block p {
    text-align: center; }
    .icon-block p.icon i {
      font-size: 4rem;
      color: #1faa00; }
  .icon-block .title {
    text-align: center; }

.cards .card.design01 {
  width: 25%;
  margin: 2rem;
  padding: 0 0 2rem;
  overflow: hidden;
  border-top: 4px solid #1faa00; }
  .cards .card.design01 .card-image {
    min-height: 120px;
    padding-top: 8.25rem;
    position: relative;
    overflow: visible; }
    .cards .card.design01 .card-image img {
      width: 120px;
      border-radius: 100%;
      margin: 0 auto;
      border: 4px solid #fff;
      position: absolute;
      top: 100%;
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .cards .card.design01 .name {
    font-size: 2rem;
    padding: 2.5rem 0 1rem;
    border-bottom: 2px solid #ee6e73;
    margin: 0.5rem auto 0.5rem;
    width: 80%; }

.pb0 {
  padding-bottom: 0; }

main section {
  padding: 3rem 0;
  overflow: hidden;
  background-color: #fff; }
  main section:nth-child(2n+2) {
    background-color: #f8f8f8; }
  main section:nth-child(3n+3) {
    background-color: #f1f1f1; }
  main section:nth-child(4n+1) {
    background-color: #fff; }
main h2 {
  text-align: center;
  font-size: 3.5rem;
  margin: 0 0 3.68rem 0;
  color: #ee6e73; }
  main h2:after {
    content: "";
    display: block;
    border-bottom: 2px solid #FF1B23;
    width: 100px;
    padding-top: 20px;
    margin: 0 auto; }
main h3 {
  font-size: 2.5rem; }

footer {
  color: #fff;
  background-color: #282828; }
  footer .footer-info-block {
    padding: 24px 0 14px; }
    footer .footer-info-block h3 {
      margin-bottom: 2rem;
      font-size: 1.7rem; }
    footer .footer-info-block i, footer .footer-info-block p, footer .footer-info-block .social-media {
      color: #ababab;
      line-height: 2;
      font-size: 1rem;
      margin-bottom: 10px; }
    footer .footer-info-block .row.col {
      padding: 1.75rem 0 1.5rem; }
    footer .footer-info-block .contactInfoBlock {
      position: relative; }
      footer .footer-info-block .contactInfoBlock i {
        position: absolute;
        font-size: 29px;
        top: -15px; }
      footer .footer-info-block .contactInfoBlock p, footer .footer-info-block .contactInfoBlock ul {
        padding-left: 42px; }
  footer .copyRight {
    background-color: #000;
    overflow: hidden;
    padding: 22px 0px 5px; }

.samples .gallery {
  padding: 0 2rem; }

.grid img {
  width: 100%;
  display: block; }

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
  width: 20%; }

.grid-item {
  float: left;
  background: #D26;
  border: 1px solid #fff;
  overflow: hidden; }

.grid-item--width2 {
  width: 40%; }

.grid-item--width3 {
  width: 60%; }

.showInSP {
  display: none !important; }

.showInPC {
  display: block !important; }

@media screen and (max-width: 1020px) {
  header .full-screen-slider-block .slide-caption {
    bottom: 3%;
    width: 60%; } }
@media screen and (max-width: 880px) {
  aside h1 {
    width: 120px;
    margin: 1.5rem 0 1.68rem 0; }

  header .full-screen-slider-block .slide-caption .title {
    font-size: 3rem;
    margin-bottom: 1rem; } }
@media screen and (max-width: 770px) {
  nav ul a {
    padding: 0 6px; }

  header .full-screen-slider-block .slick-dots {
    bottom: 5%; }
  header .full-screen-slider-block .slide-caption {
    bottom: 0%;
    min-height: 155px; }
    header .full-screen-slider-block .slide-caption .title {
      font-size: 2rem; }
    header .full-screen-slider-block .slide-caption .desc {
      font-size: 1rem; } }
@media screen and (max-width: 660px) {
  .showInSP {
    display: block !important; }

  .showInPC {
    display: none !important; }

  header {
    padding-top: 4rem; }
    header .sp-toolbar {
      display: block;
      padding-top: 16px;
      width: 100%;
      position: fixed;
      top: 0;
      height: 4rem;
      background-color: #ee6e73;
      z-index: 3; }
      header .sp-toolbar .logo {
        width: 120px;
        margin-top: 4px; }
        header .sp-toolbar .logo img {
          width: 100%; }
      header .sp-toolbar .menu i {
        color: #fff; }
    header .full-screen-slider-block .slide-caption {
      min-height: 0;
      bottom: 16px; }
      header .full-screen-slider-block .slide-caption .row {
        margin-bottom: 0; }
      header .full-screen-slider-block .slide-caption .title {
        font-size: 1.5rem;
        margin-bottom: 0; }
    header .full-screen-slider-block .desc {
      display: none; }
    header .full-screen-slider-block .slick-prev, header .full-screen-slider-block .slick-next {
      width: 13px;
      height: 75px;
      z-index: 1;
      top: 43%; }
      header .full-screen-slider-block .slick-prev:before, header .full-screen-slider-block .slick-next:before {
        width: 13px;
        height: 35px; }
    header .full-screen-slider-block .slick-prev {
      left: 16px; }
    header .full-screen-slider-block .slick-next {
      right: 16px; }
    header .full-screen-slider-block .slick-dots li {
      width: 5px;
      height: 5px;
      background-color: transparent; }
      header .full-screen-slider-block .slick-dots li button:before {
        line-height: 1;
        color: #fff;
        opacity: 0.6;
        top: 6px; }
      header .full-screen-slider-block .slick-dots li.slick-active button:before {
        color: #fff; }

  aside {
    position: fixed;
    right: -100%;
    z-index: 24;
    height: 100vh;
    width: 80%;
    background-color: #ee6e73;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    -webkit-transition: right 500ms ease;
    -moz-transition: right 500ms ease;
    -ms-transition: right 500ms ease;
    -o-transition: right 500ms ease;
    transition: right 500ms ease; }
    aside.active {
      right: 0; }
    aside nav {
      background-color: #fff; }
      aside nav .sp-menu {
        overflow: hidden;
        position: relative;
        padding: 0 16px;
        margin: 0 -16px; }
        aside nav .sp-menu h1 {
          margin: 0;
          text-align: center;
          color: #ee6e73;
          text-align: left;
          font-size: 1.5rem;
          margin-top: 9px;
          padding-left: 0;
          width: auto;
          box-shadow: none !important; }
        aside nav .sp-menu .close {
          color: #ee6e73; }
      aside nav .menu-links {
        float: none !important;
        margin: 0 -16px; }
      aside nav ul li {
        width: 100%;
        background-color: #ee6e73;
        float: none;
        border-bottom: 1px solid #97292e; }

  main h2 {
    font-size: 2rem;
    margin: 0 0 2rem 0; }
    main h2:after {
      width: 55px;
      padding-top: 10px; }
  main section {
    padding: 1.5rem 0; }

  .icon-block {
    padding: 1rem 1rem 2rem; }
    .icon-block h3 {
      font-size: 1.5rem;
      margin: 0.46rem 0 1rem 0; }
    .icon-block p {
      text-align: center; }
      .icon-block p.icon i {
        font-size: 2.7rem; }

  .about .row > .col:last-child .icon-block {
    padding-bottom: 0; }
  .about .row > .col:first-child .icon-block {
    padding-top: 0; }

  .container {
    width: auto;
    padding: 0 16px; }

  .cards .card {
    outline-color: #fff; }
    .cards .card .design01 {
      margin: 1rem;
      padding: 0 0 1.25rem; }
      .cards .card .design01 .card-image {
        padding-top: 7.25rem; }
      .cards .card .design01 .name {
        font-size: 1.2rem;
        padding: 2.5rem 0 0.5rem; }

  .samples .gallery {
    padding: 0 1rem; }

  .grid-sizer,
  .grid-item {
    width: 50%; }

  .grid-item--width2 {
    width: 50%; }

  .grid-item--width3 {
    width: 100%; } }
@media screen and (max-width: 500px) {
  .slide-caption .description .desc {
    display: none !important; }

  header .full-screen-slider-block .slick-dots {
    bottom: 8%; } }
@media screen and (max-width: 400px) {
  .copyRight .company,
  .copyRight .designer {
    float: none !important; }
  .copyRight .company {
    margin-bottom: 1rem; } }

/*# sourceMappingURL=style.css.map */
