
$color-Theme: #ee6e73;/*#64dd17;/**/
$icon-color: #1faa00;
$color-Theme-light: #9cff57;
$color-Theme-dark: #FF1B23;
$color-Theme-complement: #64dd17;
$color-Theme-complement-dark: #1faa00;
$common-Text-Font-Large: 1.2rem;
$common-Text-Font-Medium: 1rem;


@mixin translate($x,$y){
	-moz-transform: translateX($x) translateY($y);
	-webkit-transform: translateX($x) translateY($y);
	-o-transform: translateX($x) translateY($y);
	-ms-transform: translateX($x) translateY($y);
	transform: translateX($x) translateY($y);
}
@mixin translateY($y){
	-moz-transform: translateY($y);
	-webkit-transform: translateY($y);
	-o-transform: translateY($y);
	-ms-transform: translateY($y);
	transform: translateY($y);
}

@mixin absoluteCenter($y){
	position: absolute;
	width: 30%;
	top: $y;
	left: 50%;
	@include translate(-50%,-50%);
}
@mixin transitionFunction($t){
	-webkit-transition: $t;
	-moz-transition: $t;
	-ms-transition: $t;
	-o-transition: $t;
	transition: $t;
}
@mixin removeFromContainer(){
	margin: 0 -16px;
}
body{
	line-height: 1.5;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating),
a{
	color: $color-Theme-complement-dark;
	&:hover{
		color: $color-Theme-complement;
	}
}
.container{
	max-width: 1450px;
    width: 83.33333%;
}

%pseudo-block {
  content: "";
  width: 30px;
  height: 75px;
  display: block;
}


header{
	position: relative;
	.sp-toolbar{
		display: none;
	}
	img{
		width: 100%;
	}
	.full-screen-slider-block{
		.slick-slider{
			overflow: hidden;
		}
		.header-slider li{
			position: relative;
			background-color: #000;
			img{
				opacity: 0.7;
			}
			.description{
				display: none;
			}
		}
		.slide-caption{
			min-height: 200px;
			z-index: 2;
			bottom: 10%;
			position: absolute;
			width: 50%;
			color: #fff;
			text-shadow: 1px 1px 50px #000000;
			.title{
			    font-size: 4rem;
			    text-transform: capitalize;
			    margin-bottom: 2rem;
			}
			.desc{
				font-size: $common-Text-Font-Large;
	    		line-height: 1.4;
			}
		}
		.slick-dotted.slick-slider{
			margin-bottom: 0;
		}

		.slick-prev,.slick-next{
		    width: 30px;
		    height: 75px;
		    z-index: 1;
		}
		.slick-prev{
			left: 10%;
			&:before {
		        @extend %pseudo-block;
		        background:transparent url("/images/prev.png") left/cover no-repeat;
		    }
		}
		.slick-next{
			right: 10%;
			&:before {
		        @extend %pseudo-block;
		        background:transparent url("/images/next.png") right/cover no-repeat;

		    }
		}
		.slick-dots {
		    position: absolute;
		    bottom: 12%;
		    width: auto;
		    padding: 0;
		    margin: 0;
		    list-style: none;
		    right: 10%;
		    opacity: 0.75;
		    li{
		    	border-radius: 100%;
		    	background-color: #fff;
		    }
		}
	}
}
nav{
	// background-color: $color-Theme;

	ul li a{
		// color: #000;
		text-transform: uppercase;
		&:hover{
			color: #fff;
		}
	}
	
}

aside{
	position: absolute;//fixed;
    top: 0;
    width: 100%; 
    z-index: 4;
	h1{
		background: #fff;
		padding: 20px;
	    box-sizing: border-box;
	    width: 190px;
	    line-height: 0;
		img{
			width: 100%;
		}
	}
}

.icon-block{
	padding: 0 1rem;
	p{
		text-align: center;
		&.icon{
			i{
				font-size: 4rem;
				color: $color-Theme-complement-dark;
			}
		}
	}
	.title{
		text-align: center
	}
}

.cards{
	.card.design01{
		width: 25%;
		margin: 2rem;
		padding: 0 0 2rem;
		overflow: hidden;
		border-top: 4px solid $color-Theme-complement-dark;
		.card-image{
			min-height: 120px;
			padding-top: 8.25rem;
			position: relative;
			overflow: visible;
			// background-color: $color-Theme-complement;
			img{
				width: 120px;
			    border-radius: 100%;
			    margin: 0 auto;
			    border: 4px solid #fff;
				position: absolute;
				top: 100%;
				@include translateY(-50%);

			}	
		}
		.name{
			font-size: 2rem;
			padding: 2.5rem 0 1rem;
			border-bottom: 2px solid $color-Theme;
			margin: 0.5rem auto 0.5rem ;
			width: 80%;
			
		}
	}
}
.pb0{
	padding-bottom: 0;
}

main{
	section{
		padding: 3rem 0;
		overflow: hidden;
		background-color:#fff;
		&:nth-child(2n+2){
			background-color: #f8f8f8;
		}
		&:nth-child(3n+3){
			background-color: #f1f1f1;
		}
		&:nth-child(4n+1){
			background-color: #fff;
		}
	}
	h2{
		text-align: center;
		font-size: 3.5rem;
		margin: 0 0 3.68rem 0;
		color: $color-Theme;
		&:after {
			content: "";
		    display: block;
		    border-bottom: 2px solid $color-Theme-dark;
		    width: 100px;
		    padding-top: 20px;
		    margin: 0 auto;
	    }
	}
	h3{
		font-size: 2.5rem;
	}
}

footer{
	color: #fff;
	background-color: #282828;
	.footer-info-block{
		padding: 24px 0 14px;
		h3{
			margin-bottom: 2rem;
    		font-size: 1.7rem;
		}
		i,p,.social-media{
			color: #ababab;
			line-height: 2;
		    font-size: 1rem;
		    margin-bottom: 10px;
		}
		.row.col{
			padding: 1.75rem 0 1.5rem;
		}
		.contactInfoBlock{
			position: relative;
			i{
				position: absolute;
				font-size: 29px;
				top: -15px;
			}
			p,ul{
				padding-left: 42px;
			}
		}
	}
	.copyRight{
		background-color: #000;
		overflow: hidden;
		padding: 22px 0px 5px;
	}

}
.samples{
	.gallery{
		padding: 0 2rem;
	}
}
.grid {
  // background: #EEE;
  // max-width: 1200px;
  img{
  	width: 100%;
  	display: block;
  }
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}
.grid-item {
  float: left;
  background: #D26;
  border: 1px solid #fff;
  overflow: hidden;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

$slider-dot-size: 5px;

.showInSP{
	display:none!important;
}
.showInPC{
	display:block!important;
}

@media screen and (max-width: 1020px) {
	header .full-screen-slider-block .slide-caption{
		bottom: 3%;
		width: 60%;
	}
}

@media screen and (max-width: 880px) {
	aside h1{
	    width: 120px;
	    margin: 1.5rem 0 1.68rem 0;
	}
	header .full-screen-slider-block .slide-caption{
		.title{
			font-size: 3rem;
			margin-bottom: 1rem;
		}
	}
}
@media screen and (max-width: 770px) {
	nav ul a {
		padding: 0 6px;
	}
	header .full-screen-slider-block{
		.slick-dots{
			bottom: 5%;
		}
		.slide-caption{
			bottom: 0%;
			min-height: 155px;
			.title{
				font-size: 2rem;
			}
			.desc{
				font-size: $common-Text-Font-Medium;
			}
		}
	}
}

@media screen and (max-width: 660px) {

	.showInSP{
		display:block!important;
	}
	.showInPC{
		display:none!important;
	}
	header{
		padding-top: 4rem;
		.sp-toolbar{
			display: block;
			padding-top:16px;
    		width: 100%;
			position: fixed;
			top: 0;
			height: 4rem;
			background-color:
			$color-Theme;
			z-index: 3;
			.logo{
				width: 120px;
    			margin-top: 4px;
				img{
					width: 100%;
				}
			}
			.menu i{
				color: #fff;
			}
		}
		.full-screen-slider-block{
			.slide-caption{
				min-height: 0;
				bottom: 16px;
				.row{
					margin-bottom: 0;
				}
				.title{
					font-size: 1.5rem;
					margin-bottom: 0;
				}
			}
			.desc{
				display: none;
			}

			.slick-prev,.slick-next{
			    width: 13px;
			    height: 75px;
			    z-index: 1;
			    top: 43%;
			    &:before{
			    	width: 13px;
			    	height: 35px;
			    }
			}
			.slick-prev{
	    		left: 16px;
			}
			.slick-next{
	    		right: 16px;
			}
			.slick-dots li{
				width: $slider-dot-size;
				height: $slider-dot-size;
				background-color: transparent;
				button{
					&:before{
						line-height: 1;
						color: #fff;
						opacity: 0.6;
						top: 6px;
					}
				}
				&.slick-active button:before{
					color: #fff;
				}
			}
		}
	}
	aside{
		position: fixed;
		right: -100%;
		z-index: 24;
   		height: 100vh;
   		width: 80%;
   		background-color:$color-Theme;
   		-webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
		@include transitionFunction(right 500ms ease);
		&.active{
			right: 0;
		}
		nav{
			background-color:#fff;

			.sp-menu{
				overflow: hidden;
				position: relative;
				padding: 0 16px;
			    @include removeFromContainer();
				h1{
					margin: 0;
					text-align: center;
					color: $color-Theme;
				    text-align: left;
				    font-size: 1.5rem;
				    margin-top: 9px;
				    padding-left: 0;
				    width: auto;
					box-shadow: none!important;
				}
				.close{
					color: $color-Theme;
				}
			}
			.menu-links{
				float: none!important;
				 @include removeFromContainer();
			}
			ul{
				li{
					width: 100%;
				    background-color:  $color-Theme;
				    float: none;
			        border-bottom: 1px solid #97292e;
				}
			}
		}
	}
	main{
		h2{
			font-size: 2rem;
	    	margin: 0 0 2rem 0;
	    	&:after {
			    width: 55px;
    			padding-top: 10px;
		    }
		}
		section{
			padding: 1.5rem 0;
		}
	}
	.icon-block{
		padding: 1rem 1rem 2rem;

		h3 {
		    font-size: 1.5rem;
		    margin: 0.46rem 0 1rem 0;
		}
		p{
			text-align: center;
			&.icon{
				i{
					font-size: 2.7rem;
				}
			}
		}
	}

	.about {
		.row > .col:last-child .icon-block {
			padding-bottom: 0;
		}
		.row > .col:first-child .icon-block {
			padding-top: 0;
		}
	}

    .container{
	    width: auto;
	    padding: 0 16px;
	}
	.cards{
		.card{
		    outline-color: #fff;
			.design01{
				margin: 1rem;
				padding: 0 0 1.25rem;
				.card-image{
					padding-top: 7.25rem;
				}
				.name{
					font-size: 1.2rem;
					padding: 2.5rem 0 0.5rem;
				}
				.job{

				}
			}
		}
	}
	.samples .gallery{
		padding: 0 1rem;
	}
	.grid-sizer,
	.grid-item {
	  width: 50%;
	}
	.grid-item--width2 { width:  50%; }
	.grid-item--width3 { width:  100%; }

}
@media screen and (max-width: 500px){
	.slide-caption .description .desc{
		display: none!important;
	}
	header .full-screen-slider-block .slick-dots {
		bottom: 8%;
	}
}
@media screen and (max-width: 400px){
	.copyRight{
		.company,
		.designer{
			float: none!important;
		}
		.company{
			margin-bottom: 1rem;
		}
	}
}